@import '../../../common.styl'

.screenWrapper
  padding 28px
  width 100%

.screen
  background white
  coolScrollbar()


.items
  display block
  width 100%


.row
  margin 10px
  min-height 64px
  display flex
  justify-content space-between
  div
    display flex
    align-items center
    justify-content center
    width 20%

    div
      width 80%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500
  color $primary-dark

.head 
  margin 10px

.tableRow 
  display flex
  justify-content space-between
  div
    display flex
    align-items center
    justify-content center
    width 20%
    color $primary
    font-size 20px