@import '../../../common.styl'

.screen
  background white

.table 
  width 100%
  text-align center

.body 
  margin 20px

.head 
  margin 20px

.pagination 
  display flex
  justify-content center
  margin 10px 0
  gap 10px

.screenWrapper 
  width 100%

.row 
  display flex
  justify-content space-between
  div
    display flex
    align-items center
    justify-content center
    width 20%
    color $primary
    font-size 20px